* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500 !important;
  }

  .title {
    color: rgb(5, 141, 219);
    position: fixed;
    display: initial;
    align-items: center;
    justify-content: space-between;
  }

 

 
