[v-cloak] {
  display: none;
}

* {
    box-sizing: border-box;
    color: rgb(17, 16, 16) !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 500 !important;
  }

#app {
  height: 100%;
  height: 100vh;
}

.font-weight-medium, .col-title {
  font-weight: 600 !important;
}

.main {
  width: calc(100vw - 470px);
}

.table {
  font-size: .7rem;
}

tbody tr {
  cursor: pointer;
  border-left: 2px solid transparent !important;
}

thead tr th {
  cursor: pointer;
}

.sidenav {
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  height: 100%;
  background-image: url('../img/tower.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.sidenav .card {
  font-size: .7rem;
  width: 300px;
}
.sidenav .card dt {
  font-size: .5rem;
  font-weight: 800 !important;
}

 

 
